@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

.TodoList h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    padding-bottom: 3%;
    margin-top: 5%;
}

.TodoList input {
   height: 4vh;
   width: 60%;
   position: relative;
}

.Element-todolist {
    width: 60%;
}

.TodoList {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 22vh;
}

.TodoList .changeStyle {
    width: 2%;
    height: 4vh;
    position: absolute;
    margin-left: 1%;
    background-color: #6C63FF;
    border: none;
    border-radius: 5px;
}

.TodoList .poisk {
    position: absolute;
    left: 62%;
    bottom: 82%;
}

input::placeholder {
    padding: 10px;
font-family: "Inter", sans-serif;
}

.Element-todolist input {
border:1px solid #6C63FF;
border-radius: 4px;
}

.notes {
    height: 4vh;
    width: 10%;
    background-color: #6C63FF;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.notes option {
    padding: 10px;
}

.main-list {
    display: flex;
    justify-content: center;
}

.listing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42%;
}

.list {
    border-bottom: 1px solid #6C63FF;
    width: 60%;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.list span {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
}

.control {
    display: flex;
    align-items: flex-end;
}

.note-dontComplete {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.add {
    position: absolute;
    left: 72.5%;
    top: 80%;
    width: 2%;
    background-color: #6C63FF;
    border: none;
    border-radius: 100px;
    height: 4vh;
}

.windows {
    display: flex;
    justify-content: center;
}

.modelWindow {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 30vh;
    position: absolute;
    z-index: 2;
    top: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    visibility: hidden;
}

.modelWindow h1 {
 font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.modelWindow input {
    width: 70%;
    height: 3vh;
    border: 1px solid #6C63FF;
    border-radius: 5px;
}

.btns {
    display: flex;
    justify-content: space-around;
    width: 118%;
}

.btns button {
    width: 10%;
    height: 4vh;
}

.btns .close {
    border: 1px solid #6C63FF;
    font-weight: 400;
    background-color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}

.btns .apply {
    border: 1px solid #6C63FF;
    font-weight: 400;
    background-color: #6C63FF;
    font-family: "Kanit", sans-serif;
    color: #ffffff;
    font-size: 16px;
}